<h3> Confirm you are you! </h3>
<p>Hello {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <a href="{{ link }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>